</div>
<div class="card-footer d-flex align-items-center justify-content-center">

    <a class="btn px-3 fs-3 border-dark rounded-2 m-2" href="/"><i class="bi bi-house"></i></a>

    <a class="btn px-3 fs-3 border-dark rounded-2 m-2" href="/task/add"><i class="bi bi-plus"></i></a>

</div>

</div>

</main>
</body>
</html>