<!DOCTYPE html>
<html lang="en" >
    <base href="/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasl app</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap-icons.css"/>

    <link rel="stylesheet" href="style.css">

</head>
<body class="d-flex justify-content-center align-items-center">
  
    
    <main class="d-flex justify-content-center align-items-center gap-2 vh-100" style="width: 700px">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Task List App</h5>
            </div>

            <div class="card-body">