<%- include('./partials/top.ejs') %>
category
    <div class="d-flex flex-column justify-content-center gap-2">
        <a class="py-4 btn btn-primary" href="/task/all">Task 1</a>
        <a class="py-4 btn btn-warning" href="/category">Category</a>
        <a class="py-4 btn btn-danger" href="/priority">Priority</a>
        <a class="py-4 btn btn-dark" href="/config">Config</a>
    </div>
    <%- include('./partials//bottom.ejs')  %>